button {
    color: #090909;
    padding: 0.4em 1em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  
  #input{
    padding: 6px 6px 6px 10px;
    border-radius: 0.5em;
  }